/*  your css code here. If applicable */
		body{
            background: #f5f5f5;
        }

        .main-container{
            background-color:#f5f5f5;
			padding:30px;
        }

        .container-2, .container-3{
              background-color:white;
			  margin:10px;
        }


        .t-end{
            text-align:right;
			font-style:italic;
        }